*.iml

.DS_Store
.externalNativeBuild/
.cxx/

/.gradle/
/local.properties
/.idea/caches
/.idea/codeStyles/
/.idea/gradle.xml
/.idea/libraries/
/.idea/misc.xml
/.idea/modules/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build/
/captures
/local.properties
